<ion-header  style="background-color: Blue"> 
  <ion-toolbar > 
    <ion-title>Start Fleet Prueba</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

<ion-list>
  

    <ion-item  routerLink="/call-rest"> 
      <ion-label>Servicio Start Fleet</ion-label>
    </ion-item>

    <ion-item  routerLink="/estatico-start-fleet"> 
      <ion-label>Estatico Start Fleet</ion-label>
    </ion-item>

    <ion-item  routerLink="/posts"> 
      <ion-label>Servicio de prueba</ion-label>
    </ion-item>
</ion-list>
 
    
    
</ion-content>
